.video-sidebar {
  position: absolute;
  top: 40%;
  right: 10px;
}

.sidebar-options {
  padding: 20px;
  text-align: center;
  filter: invert(1);
}

@media only screen and (max-width: 440px) {
  .video-sidebar {
    top: 32%
  }
}